@import "../../../../styles/variables";

.profile-form{
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 320px;
  width: 100%;
  margin-top: 30px;

  .profile-form__inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .profile-form__buttons{
    display: flex;
    align-items: center;
    gap: 15px;
  }
}